venv/
.venv/

# exclude heavy/unnecessary data
data/cleaned/
data/raw/
data/tech_registry.json

notebooks/
src/

wandb/
runs/
checkpoints/
.ipynb_checkpoints/

__pycache__/
*.pyc
*.pyo

.env
.git/
.gitignore

# exclude pytorch weights — not needed in prod
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# exclude unused model folders
models/normaliser_st/
models/best_model_v0.pt
models/model_int8.pt
models/best_model.pt