venv/
.env
models/best_model_v0.pt
models/model_int8.pt
models/best_model.pt
data/raw/
.ipynb_checkpoints/
wandb/
scripts/__pycache__/
weights/
.venv/
models/normaliser_st
models/model.onnx
models/normaliser_onnx/model.onnx
data/tech_registry.json
data/cleaned/processed_old/
data/cleaned/processed_old2/