# requirements.txt ( because im the only one working in ai, i have dependencies locally for dev )
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.4.2
onnxruntime==1.18.1
transformers==4.35.2
# scikit-learn  replaced by a manual numpy function
numpy==1.26.2
gdown==6.0.0